.contactForm {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.3;
  overflow: hidden;
}

form {
  display: none;
  /* position: absolute; */
  top: 200px;
  width: 400px;
  height: 500px;
  left: calc(50vw - 200px);
  background-color: white;
  border-radius: 20px;
  position: fixed;
  z-index: 10;
}
.color-red {
  background-color: red;
}
